<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Сервис просмотра сообщений с Ваших сайтов">
    <meta name="keywords" content="сообщения,отправить сообщение, отправить сообщение с сайта">

    <title>{% block title %}Сервис отправки сообщений с сайтов{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/css/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/static/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/css/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Сервис сообщений</a>
            </div>
            <!-- /.navbar-header -->
			<ul class="nav navbar-top-links navbar-right">
				<li><a href="/api.html"><i class="fa fa-cogs fa-fw"></i> API</a>
			{% if user.is_anonymous %}
				<li><a href="/login/"><i class="fa fa-sign-in fa-fw"></i> Вход</a>
				<li><a href="/register/"><i class="fa fa-user fa-fw"></i> Регистрация</a>				
			{% else %}				
				<li><a href="/telegram/"><i class="fa fa-telegram fa-fw"></i> Telegram</a></li>
				<li><a href="/rss/?g={{user.userprofile.guid}}"><i class="fa fa-rss fa-fw"></i> RSS</a></li>
				<li><a href="/profile/"><i class="fa fa-user fa-fw"></i> {{user.username}}</a></li>
				<li class="divider"></li>
				<li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> Выход</a>
				</li>
			{% endif %}
				<li><a href="/support/"><i class="fa fa-envelope-o fa-fw"></i> Связь</a>
			</ul>
            <!-- /.navbar-top-links -->
{% if not hide_left_menu %}
            <div class="navbar-default sidebar hidden-xs" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
							<form id="search_form" method="get" action="{% url 'message_filter' %}">
                                <input type="text" class="form-control" name="text" value="{{text|default:''}}"placeholder="Поиск...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="$('#search_form').submit()">
                                    <i class="fa fa-search"></i>
                                </button>
							
								</span>
							</form> 
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/profile/"><i class="fa fa-dashboard fa-fw"></i> Последние</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Важность<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url 'message_filter' %}?priority=0">Информационные</a>
                                </li>
                                <li>
                                    <a href="{% url 'message_filter' %}?priority=1">Важные</a>
                                </li>
                                <li>
                                    <a href="{% url 'message_filter' %}?priority=2">Критические</a>
                                </li>
								
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Период<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url 'message_filter' %}?tdt=1">Сегодня</a>
                                </li>
                                <li>
                                    <a href="{% url 'message_filter' %}?tdt=2">Вчера</a>
                                </li>
                                <li>
                                    <a href="{% url 'message_filter' %}?tdt=3">Неделя</a>
                                </li>
                                <li>
                                    <a href="{% url 'message_filter' %}?tdt=4">Месяц</a>
                                </li>
                                <li>
                                    <a href="{% url 'message_filter' %}?tdt=5">Год</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Источники<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
								{% for d in sources %}
								<li><a href="{% url 'message_filter' %}?source={{d|urlencode}}">{{d}}</a></li>
								{% endfor %}
                                <li>
                                    <a href="{% url 'message_filter' %}">Все</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>						
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
{% endif %}
        </nav>

        <div id="{% if not hide_left_menu %}page-wrapper{% else %}page-index-wrapper{% endif %}">
			{% block body %}{% endblock %}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/sb-admin-2.js"></script>

	<!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=32826857&amp;from=informer"
target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/32826857/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:32826857,lang:'ru'});return false}catch(e){}" /></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter32826857 = new Ya.Metrika({
                    id:32826857,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/32826857" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>

</html>
