{% extends "base.html" %}
{% load static %}
{% block title %}Вход на сайт{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">		
		  {% if msg %}<div class="alert alert-danger">{{msg}}</div>{% endif %}
		  <form class="form-signin" method="post" action="{% url 'login' %}./?next={{redirect_to}}">
			{% csrf_token %}
			<h2 class="form-signin-heading">Вход</h2>
			<input type="hidden" name="ref" value="{{ref|default:'/'}}"/>
			<div class="form-group">
				<label for="phone">Имя пользователя</label>
				<input type="text" id="username" class="form-control username" name="username" placeholder="" value="{{phone|default:''}}">
			</div>
			<div class="form-group">
				<label for="password">Пароль</label>
				<input type="password" id="password" class="form-control" name="password" placeholder="">
			</div>
			<div class="form-group mt10">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
			</div>
			<div class="form-group mt10 tac">
				<a href="{% url 'register' %}">регистрация</a>
			</div>
		  </form>
		  
	
		  
		</div>
	</div>
</div> <!-- /container -->
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}