{% extends 'base.html' %}
        
{% block body %}
<br/>
<div class="panel panel-default">
	<div class="panel-heading">{{header}} ({{m_count}})</div>
	<div class="panel-body">
		<nav>
		  <ul class="pagination">
		   {% if messages.has_previous %}
			<li>
			  <a href="?page=1{{flink}}" aria-label="Previous">
				<span aria-hidden="true">|&laquo;</span>
			  </a>
			</li>		   
			<li>
			  <a href="?page={{ messages.previous_page_number }}{{flink}}" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			  </a>
			</li>
			{% endif %}
			{% if page_range1 %}
				{% for p in page_range1 %}
				<li {% if page = p %}class="active"{% endif %}><a href="?page={{p}}{{flink}}">{{p}}</a></li>
				{% endfor %}
				{% if page_range2 %}
				<li><a>...</a></li>
				{% endif %}
				{% for p in page_range2 %}
				<li {% if page = p %}class="active"{% endif %}><a href="?page={{p}}{{flink}}">{{p}}</a></li>
				{% endfor %}
			
			{% else %}
				{% for p in page_range %}
				<li {% if page = p %}class="active"{% endif %}><a href="?page={{p}}{{flink}}">{{p}}</a></li>
				{% endfor %}
			{% endif %}
			{% if messages.has_next %}
			<li>
			  <a href="?page={{ messages.next_page_number }}{{flink}}" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			  </a>
			</li>
			<li>
			  <a href="?page={{page_range|length}}{{flink}}" aria-label="Next">
				<span aria-hidden="true">&raquo;|</span>
			  </a>
			</li>			
			{% endif %}
		  </ul>
		</nav>
		<table class="table">
			<tr>
				<th>Дата</th>
				<th>От кого</th>							
				<th>Сообщение</th>
				<th></th>
			</tr>
			{% for d in messages %}
			<tr class="{{d.get_priority_class}}">				
				<td>{{d.dt_add|date:"d.m.Y H:i"}}</td>
				<td>{{d.mfrom}}</td>							
				<td>{{d.text|urlize}}</td>
				<td><a class="btn btn-danger btn-xs remove_message" href="{% url 'remove_message' d.id %}">удалить</a></td>
			</tr>
			{% endfor %}
		</table>
		<a href="?rm=1{{flink}}" onclick="return confirm('Удалить все сообщения?')" class="btn btn-danger btn-sm pull-right">Удалить все сообщения</a>
	</div>
</div>


{% endblock %}
