{% extends 'base_no_left.html' %}
{% block title %}Мои сообщения - сообщения на сервисе{% endblock %}
{% block body %}
<div class="container">
	<h1>Сообщения на сервисе агрегации сообщений</h1>
	<p>Вы можете отправлять сообщения со своих сайтов (приложений) максимальной длиной 2048 символов</p>
	<p>Вы можете указывать в качестве источника отправления любое имя длиной до 255 символов</p>	
</div>
{% endblock %}
