{% extends "base.html" %}
{% load static %}
{% block title %}Мои сообщения - регистрация на сайте{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
		  {% if msg %}<div class="alert alert-danger">{{msg}}</div>{% endif %}
		  <form class="form-signin" method="post" action="{% url 'register' %}{% if is_master %}?master=1{% endif %}">
			{% csrf_token %}
			<h2 class="form-signin-heading">Регистрация</h2>
			<input type="hidden" name="ref" value="{{ref|default:'/'}}"/>
			<div class="form-group">
				<label for="username">Имя</label>
				<input type="text" id="username" class="form-control" name="username" placeholder="">
			</div>
			
			<div class="form-group">
				<label for="email">E-mail</label>
				<input type="text" id="email" class="form-control email" name="email" placeholder="">
			</div>		
			
			<div class="form-group">
				<label for="password">Пароль</label>
				<input type="password" id="password" class="form-control" name="password" placeholder="">
			</div>
			<div class="form-group mt10">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
			</div>
			<div class="form-group mt10 tac">
				<a href="{% url 'login' %}">вход</a>
			</div>
			
		  </form>
		  
		  
		</div>
	</div>
</div> <!-- /container -->
{% endblock %}

{% block extra_foot %}
	<script src="{% static 'js/login.js' %}"></script>
{% endblock %}

