{% extends 'base_no_left.html' %}

{% block body %}
{% if msg %}
<h3 class="text-success">Спасибо за ваше сообщение, вы получите ответ после его обработки оператором</h3>
{% else %}
<div class="container mt10">
	<form method="post" action="">
		{% csrf_token %}
		
		{% if user.is_anonymous %}
		<div class="form-group">
			<label for="name">Ваше имя:</label>
			<input type="text" class="form-control" id="name" name="name"/>
		</div>
		{% endif %}
		<div class="form-group">
			<label for="email">E-mail:</label>
			<input type="text" class="form-control" id="email" name="email" value="{{user.email|default:''}}"/>
		</div>
		<div class="form-group">
			<label for="text">Сообщение:</label>
			<textarea class="form-control" id="text" name="text"></textarea>
		</div>
		<input type="submit" class="btn btn-primary" value="Отправить"/>
	</form>

</div>
{% endif %}
{% endblock %}
