{% extends 'base_no_left.html' %}
{% block title %}Telegram{% endblock %}
{% block body %}
<div class="container">
	<h1>Подключение Telegram</h1>

	<p>Для подключения оповещения в Telegram добавьте бота MySignalsBot, отправьте ему сообщение (например, hello) и введите своё имя из Telegram в форму ниже</p>
	{% if msg %}
	<div class="alert alert-success">
		{{msg}}
	</div>
	{% endif %}
	<div class="row">
		<div class="col-md-offset-2 col-md-5">
			<form method="post" action="">
				{% csrf_token %}
				<div class="form-block">
					<label for="tname">
						Ваше имя в Telegram
						{% if is_telegram %}
							<span class="text-success">Вы опознаны в системе</span>
						{% endif %}
					</label>
					<input type="text" class="form-control" name="tname" id="tname" value="{{profile.telegram_name|default:''}}"/>
				</div>
				<input type="submit" class="btn btn-success mt10" value="Сохранить"/>
			</form>
		</div>
	</div>
	
	
</div>
{% endblock %}
